body{
    background: #192734;
}


header{
    display: flex;
    flex-direction: row;
    background-color: #192734;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    box-shadow:5px 0 10px rgba(151, 151, 151, 0.5);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
header .content{
    display: flex;
    padding:8px;
    z-index: 2;
}
.logo a img{
    height: 50px; 
    width: 55px;
    margin-top: 8px;
}

header span{
    color: #fff;
    text-align: center;
    justify-content: center;
    margin-left:45px;
    margin-top: 15px;
    align-items: center;
    font-size: 30px;
}

#search-form {
    background-color: transparent;
    width: 300px;
    height: 34px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 70%; /* Set to auto to align with the right edge of the container */
    margin-right: 5px; /* Adjust the right margin as needed */
    margin-top: 15px;
    border: 1px solid #fff;
    
  }
  
  #search-form input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 200px;
    padding: 10px; /* Adjusted padding values */
    box-sizing: border-box; /* Include padding in the width calculation */
    /* margin-left: 100%; */
    
  }
  
  ::placeholder {
    color: #fff;
    opacity: 0.7;
  }
  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
    /* margin-left: 100%; */
  }
  
  i {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }
  .buttons{
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  .buttons a{
    text-align: center;
    width: 60px;
    height: 20px;
    padding: 10px 10px;
    font-size: 18x;
    margin-left: 10px;
    background-color: #008deb;
    color: #000000;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
  }

 .slideshow-container {
    max-width: 100%;
    top: 70px;
    position: relative;
    margin: auto;
    height: 470px;
    /* background: url('/components/images/bg3.jpg') center/cover; */
    color: #ffffff;
    padding-bottom:90px ;
    /* box-shadow: 5px 0 0 rgba(255, 255, 255, 0.5); */
  }
  .slideshow-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    background: url('/components/images/bg4.jpg') center/cover;
    filter: brightness(-0.3);
    filter: blur(25px);
    z-index: 0; 
}
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin-top: 100px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #008deb;
  }
  
  .slide-from-right {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  .slide1{
    display: flex;
  }
  .slide1 .text-content h1{
    width: 450px;
    font-size: 85px;
    margin-left: 50px;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-shadow: 2px 8px 4px rgba(0, 0, 0, 0.5);
    color: #008deb;
  }
  .slide1 .text-content h3{
    padding: 0;
    margin-left: 50px;
    font-size: 30px;
    width: 550px;
    
  }
  .slide1 img{
    border: none;
    margin-top: 50px;
    margin-left: 150px;
    /* padding: 15px; */
    align-items: center;
    flex: 0;
    /* background:-webkit-linear-gradient(left, rgba(255,0,0,0), rgb(82, 82, 82)); */
    /* filter: drop-shadow(5px 5px 10px rgba(102, 102, 102, 0.5)); */
    /* -webkit-box-reflect: left 0px linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)); */
  }
  .image-container{
    position: relative;
  }
  .image-container .image2{
    position: absolute;
    left: 100px;
  }
  .text-content button{
    width: 100px;
    height: 30px;
    padding: 10px 20px;
    padding-left: 45px;
    font-size: 25px;
    font-weight: 400;
    background-color: #0080f8;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 150px;
  }

  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
    background: transparent;
  }
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }

  .hero-section {
    margin-left: 0;
    margin-top: 60px;
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/components/images/12345.jpg') center/cover;
    filter: brightness(-0.3);
    filter: blur(25px);
    z-index: 0; /* Move the pseudo-element behind the content */
}
.overlay {
  opacity: .7;
  background-color: black;
  position: absolute;
  left: 0; top: 0; 
  height: 100%; width: 100%;
}
.hero-section .slide1 {
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 1; /* Bring the content to the front */
}
.hero-img{
  position: relative;
  width: 700px;
}
.hero-section .hero-content {
  position: relative;
  max-width: 600px;
  color: #fff;
}


.hero-section h2 {
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 100px;
    font-weight: 700;
}

.hero-section p {
    width: 100%;
    font-size: 20px;
    margin-right: 25px;
    margin-bottom: 50px;
    word-spacing: 5px;
    line-height: 30px;
    font-family: sans-serif;
}

.hero-section button {
    width: 180px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    background-color: #008deb;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 150px;
    transition: background-color 0.3s;
}

.hero-section .image-container img {
    margin-top: 20px;
    /* height: 500px;
    width: 450px; */
}

.features-section{
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

}
.features-section::before{
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: url('/components/images/bg5.jpg') center/cover;
  background-repeat: no-repeat;
  filter: blur(20px);
  filter: brightness(-0.3);
  z-index: -1;
}
.features-section h1{
  text-align: center;
  color: #fff;
  font-size: 40px;
  z-index: 1;
}
.features-section .row1{
  display: flex;
  justify-content: center;
}
.features-section .row2{
  display: flex;
  justify-content: center;
}
.card {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  margin: 50px;
}
.card .image-box {
  width: 300px;
  height: 300px;
  border-radius: inherit;
}
.card .image-box img {
  height:300px;
  width:300px;
  object-fit: cover;
  object-position: 50% 90%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card:hover img {
  filter: grayscale(0.7) brightness(0.4);
}
.card:hover::after {
  opacity: 1;
  inset: 20px;
}

.card-content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-content h2,
.card-content p {
  opacity: 0;
  transition: 0.4s 0.2s ease;
}
.card-content h2 {
  color: #d1d1d1;
  margin-bottom: 12px;
  scale: 0.7;
}
.card-content p {
  font-size: 14px;
  line-height: 1.5;
  color: #d1d1d1;
  transform: translateY(50%);
}
.card:hover .card-content h2 {
  scale: 1;
  opacity: 1;
}
.card:hover .card-content P {
  opacity: 1;
  transform: translateY(0);
}