body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background:url('/img3.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.register-container{
    
     /* margin: 0 auto;  */
     /* The first parameter specifies the top and bottom margins.
    The second parameter specifies the left and right margins. */
    /* padding: 14px 20px; */
    /* background-color:blue;
    border-radius: 10px;
    padding: 14px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif; */
    width: 370px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px ;
    /* rgba(0, 0, 0, 2); */
    border-radius: 20px;
    color: #fff;
}

.register-container h1{
    font-size: 36px;
    text-align: center;
}

.register-container .input-box{
    position: relative;
    width: 80%;
    height: 50px;
    margin: 30px 25px;
    background: transparent;
}

.input-box-dropdown{
    position: relative;
    width: 80%;
    height: 50px;
    margin: 30px 25px;
    border: 40px;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 50px;
    font-size: 14px;
    color:#fff;
    padding: 0px 10px 0px 10px ;
}

.input-box input:focus,
.input-box input:-webkit-autofill {
    background-color: transparent !important; /* Set background to transparent on focus and autofill */
}

.input-box input::placeholder {
    color:#fff;
}

.input-box input:focus::placeholder,
.input-box input:-moz-placeholder,
.input-box input::-moz-placeholder,
.input-box input:-ms-input-placeholder {
    color: rgba(173, 216, 230, 0.7); /* Adjust placeholder color on focus */
}

.input-box i{
    position: absolute;
    right: 10px;
    top: 35%;
    /* transform: translateY(-30%); */
    font-size: 18px;
}

.register-container .terms{
    display: flex;
    justify-content: center;
    font-size: 14.5px;
    margin: -35px 0 15px;
}

.register-container .button{
   width: 80%;
   height: 45px;
   border: none;
   outline: none;
   border-radius: 40px;
   cursor: pointer;
   font-size: 14px;
   font-weight: 600;
   margin: 1px 36px;
}