body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure full viewport height */
    background: rgb(37, 55, 65)
  }
main{
    display: flex;
    flex: 1;
    color: #fff;
}
.repo-source{
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}
.left-sidebar{
    display: flex;
    width: 320px;
    /* height: 100%; */
    /* border-right: 1px solid rgb(216, 222, 228); */
    box-sizing: border-box;
    padding: 20px;
    /* background: linear-gradient(to left, #e9ecee, #adb6bb); ; */
    box-shadow:5px 0 10px rgba(124, 124, 124, 0.5);
}

.section{
    flex: 1; /* Allow the main content to take the remaining width */
      padding: 20px;
}

#form2 {
    background-color: rgb(27, 43, 56);
    width: 250px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0%; /* Set to auto to align with the right edge of the container */
    margin-right: 0px; /* Adjust the right margin as needed */
    margin-top: 5px;
    border: 1px solid white;
    
  }
#form2 input{
    all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 200px;
  padding: 10px; /* Adjusted padding values */
  box-sizing: border-box; /* Include padding in the width calculation */
  /* margin-left: 100%; */
}
  

.img{
    display: flex;
    justify-content: flex-end;
    margin-left:60%;
    max-width: 100%;
    max-height: 100%;
}
.user-source {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 10px 0; /* Optional: Adjust the margin as needed */
    margin-left: 0%;
  }
.repolist{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
}
.reponame{
    font-size: 15px;
    flex-grow: 1;
    
}
.reponame a{
    color: #304857;
    font-family: sans-serif;
}
.repo-pic {
    display: flex;
    width: 40px; /* Adjust the width of the profile pic */
    height: 40px; /* Adjust the height of the profile pic */
    border-radius: 50%; /* Make it round */
    overflow: hidden; /* Ensure the image stays within the rounded border */
    margin-right: 15px; /* Optional: Adjust the margin between profile pic and repo name */
    background: #3a5768;
    align-items: center;
    justify-content: center;
    position: relative;
  }
.repo-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 0;
    padding-top: 5px;
    scroll-snap-type: y mandatory;
}
.repo-source li a{
    color: #fff;
}
.repo-btn{
    width: 130px;
    height: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0074cc;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.repo-btn:hover{
    background-color: #0f537e;
}
.repo-creation{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.right-sidebar{
    flex: 0;
    padding: 20px;
    /* background:#f5f7f8; */
}
.right-sidebar img{
    object-fit: cover;
    animation: highlight 1s infinite;
}
.right-sidebar h2{
    padding: 20px;
    text-align:center;
    font-family: sans-serif;
    font-weight: 100;
    justify-content: space-evenly;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 1;
}

.popup {
    background: linear-gradient(to top left,#4e555c,#192734);
    width: 500px;
    height: 400px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ffffff;
    color: #fff;
    border-radius: 8px;
    align-items: center;
    transition: all .5s;
}

.popup label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

.popup input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    background: transparent;
}
#repo-form{
    align-items: center;
}
#repo-form h2{
    text-align: center;
}
.popup input:focus {
    outline: none;
    border-color: #ffffff;
}
#repo-submit{
    border: none;
    color: #fff;
    background: #0074cc;
    font-family: sans-serif;
    font-weight: 300;
    width: 200px;
    margin-left: 30%;
    padding:10px ;
    margin-top: 10px;
    border-radius: 25px;
    /* border: 1px solid #fff; */
}
.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #fff;
}

