.robots {
    object-fit: cover;
    display: flex;
    justify-content: center;
  }
  .head,
  .left_arm,
  .torso,
  .right_arm,
  .left_leg,
  .right_leg {
    background-color: var(--bg-robocolor);
  }
  
  .head {
    width: 155px;
    margin: 45px;
    height: 100px;
    border-radius: 200px 200px 0 0;
    margin-bottom: 5px;
  }
  
  .eyes {
    display:flex;
    position:relative;
    top: 60px;
  }
  
  .left_eye,
  .right_eye {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: var(--bg-main);
    display: inline-block;
  }
  
  .left_eye {
    margin-left: 30px;
  }
  
  .right_eye {
    margin-left: 50px;
  }
  
  .upper_body {
    width: 250px;
    height: 100px;
    margin: 0 auto;
    display: flex;
  }
  
  .left_arm,
  .right_arm {
    width: 35px;
    height: 80px;
    border-radius: 100px;
    margin-top: 20px;
  }
  
  .left_arm {
    margin-right: 10px;
  }
  
  
  .right_arm {
    margin-left: 10px;
  }
  
  .torso {
    width: 155px;
    height: 150px;
    border-radius: 0 0 50px 50px;
    transition: border-radius 1s;
  }
  
  .lower_body {
    width: 200px;
    height: 150px;
    margin: 0 auto;
  }
  
  .left_leg,
  .right_leg {
    width: 35px;
    height: 100px;
    border-radius: 0 0 100px 100px;
    display: inline-block;
  }
  
  .left_leg {
    margin-left: 45px;
  }
  
  .right_leg {
    margin-left: 30px;
  } 
  .robots:hover .left_arm {
    animation: moveleftarm 1s  forwards;
  }

  @keyframes moveleftarm {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(120deg);
      transform-origin: top center;
    }
  }

  /* .robots::after{
    content: "Hello Robot Engineers !!";
    position: fixed;
      bottom: 80px;
      left: 86%;
      padding-left: 40px;
      width: 200px;;
      transform: translateX(-35%);
      opacity: 0;
      transition: opacity 0.3s ease;
      font-size: 28px;
      font-family: sans-serif;
      font-weight: 700;
      color: var(--bg-primary);
  }
  .robots:hover::after{
    opacity: 1;
  } */